extends base.pug

block scripts 
    script(src='../public/index.js')

block style 
    style
        include ../public/style.css

block content
    section#introSectionAbout
        div.contact-Div About Us


    section#aboutSection
        div.card 
            div.card-about
                p The Dance Academy, established since October 1988 aims to provide students with a professional dance curriculum exposing them to well structured training programmes in the various dance disciplines. Students are encouraged to develop their dance skills and performance qualities to the maximum.

                |Students in classical ballet, girls and boys, can enroll as of the age of three years. The school follows the Royal Academy of Dance London Syllabus.
